*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font-family: 'Montserrat', sans-serif; */


header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 30px 30px;
}


ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

li{
    font-family:'Montserrat', sans-serif ;
    color:  #646464;
    font-size: 0.95rem;
    cursor: pointer;
    text-align: center;
    
}

button{
    font-family:'Montserrat', sans-serif ;
    font-size: 1rem;
    text-align: center;
    border: none;
    color: #FFFFFF;
    border-radius: 20px;
    text-transform: uppercase;
    width: 110px;
    height: 32px;
    background-color: #665AE1;
    cursor: pointer;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url(/assets/Background\ 2.svg);
    
}

div.textos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    
}

.botaoexplore{
    font-family:'Montserrat', sans-serif ;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100px;
    background-color: #ADFF00;
    border:none;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: #000000;
    
}

h1{
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    color:  #383737;
    
}

h2{
    font-family:'Montserrat', sans-serif ;
    font-weight: 500;
    font-size: 3.5rem;
    color: #363636;
    padding: 10px 10px;
}

p{
     color: #707070;
    font-family:'Montserrat', sans-serif ;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 20px;
    
}

.botaoexplore:hover{
    background-color: #0380d4;
    color: #FFFFFF;
}

button:hover{
    background-color: #0380d4;
    color: #FFFFFF;
}

li:hover{
    width: 76px;
    height: 23px;
    border: none;
    border-radius: 20px;
    background-color: #0380d4;
    color: #FFFFFF;
}